<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/Chart.js/Chart.bundle.min.js"></script>
    <script src="/Site.js"></script>
    <link rel="stylesheet" href="/lib/twitter-bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/Chart.js/Chart.min.css">
    <link rel="stylesheet" href="/Site.css">
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
