@model Cosette.Tuner.Web.ViewModels.MainViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Cosette Tuner Web</div>
        <div class="list-group list-group-flush">
            @foreach (var test in Model.Tests)
            {
                @Html.ActionLink($"{test.Id}. {test.CreationTimeUtc}", "Index", "Home", new { id = test.Id }, 
                    new { @class = "list-group-item list-group-item-action bg-light" })
            }
        </div>
    </div>

    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
        </nav>

        <div class="container-fluid">
            <h1 class="mt-4">@Model.LastTest?.Id. @Model.LastTest?.CreationTimeUtc</h1>
            <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>
            <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is optional, and just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which will toggle the menu when clicked.</p>
        </div>
    </div>
</div>
